# Hugo build output
public/

# macOS system files
.DS_Store
node_modules/
# IndieKit logs and environment variables
indiekit.log
.env
.indiekitrc.local.yml
# Ignore Obsidian config files
**/.obsidian/
content/images
content/docs/todo.md
content/drafts
