{{ define "main" }}
<div id="list-page" class="feature-grid minimal-grid">
    <!-- Only include pages from the 'posts' section. -->
    {{ $postsPages := where .Site.RegularPages "Section" "posts" }}
    {{ $paginator := .Paginate $postsPages }}

    {{ range $paginator.Pages }}
  <section class="item">
    <a class="card-link" href="{{ .RelPermalink }}">
      <span class="thumb">
        {{ with .Params.image }}
        <img src="{{ . | absURL }}" alt="" loading="lazy">
        {{ end }}
      </span>
      <h2>{{ .Title }}</h2>
      <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "Jan 2, 2006" }}</time>
    </a>
  </section>
  {{ end }}
  {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
  <div class="pagination">
    {{ if $paginator.HasPrev }}
    <span class="prev">
      <a href="{{.Paginator.Prev.URL}}">
        <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}{{ i18n "postsNewer" }}{{ end }}
      </a>
    </span>
    {{ end }}
    {{ if $paginator.HasNext }}
    <span class="next">
      <a href="{{.Paginator.Next.URL}}">
        {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}{{ i18n "postsOlder" }}{{ end }} <span class="arrow">→</span>
      </a>
    </span>
    {{ end }}
  </div>
  {{ end }}
</div>

{{ end }}
